/*!!!!!!*/
/*Text*/
/*!!!!!!*/

#text {
	font-family: "Lucida Console", monospace;
}

#text1 {
	font-family: "Lucida Console", monospace;
	width: 325px;
	line-height: 1.1;
}

#text2 {
	font-family: "Lucida Console", monospace;
	text-align: center;
}

/*!!!!!!*/
/*navigation bar*/
/*!!!!!!*/

.navBar {
	border-style: solid;
	border-radius: 25px;
	padding: 20px;
}

/*!!!!!!*/
/*links*/
/*!!!!!!*/

a:hover {
	background-color: dimgrey;
	padding: 2px;
	border-radius: 4px;
}

a:visited {
	color: mediumblue;
}

/*!!!!!!*/
/*body*/
/*!!!!!!*/

.body {
	background-color: lightgrey;
	text-align: center;
}

/*!!!!!!*/
/*lists*/
/*!!!!!!*/

.FAQ_TERM_ul {
  list-style-position: inside;
  text-align: center;
  list-style-type: circle;
}

/*!!!!!!*/
/*Tables*/
/*!!!!!!*/

table {
		margin-left: auto;
  margin-right: auto;
}
th, td {
	margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
}

/*!!!!!!*/
/*div*/
/*!!!!!!*/

.outerDiv {
	padding-left: 600px;
	padding-right: 600px;
}

/*!!!!!!*/
/*images*/
/*!!!!!!*/

#inlineIMG {
	float: right;
	height: 200px; 
	padding-right: 150px;
}

#img {
	width: 533px; 
	height: 300px;
}

#img2 {
	height: 300px;
}

/*!!!!!!*/
/*favicon*/
/*!!!!!!*/

#favicon {
	width: 36.75px;
	height: 25px;
}

/*!!!!!!*/
/*Fixed Page*/
/*!!!!!!*/

#fixedBody {
	width: 675px;
	margin: 0 auto;
	background-color: lightgrey;
}

#contentLeft {
	padding: 5px 7px 5px 7px;
	width: 300px;
	float: left;
	margin: 10px;
	border: 1px solid;
	border-radius: 4px;
}

#contentRight {
	padding: 5px 7px 5px 7px;
	width: 300px;
	float: right;
	margin: 10px;
	border: 1px solid;
	border-radius: 4px;
}

#mainContent {
	overflow: auto;
	height: 100%;
}

#header {
	border: 2px solid;
	border-radius: 5px;
	text-align: center;	
	padding: 10px;
	margin: 10px;
}

#footer {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
}

/*!!!!!!*/
/*Multi Column Page*/
/*!!!!!!*/

#columns_3 {
	text-align: left;
	column-count: 3;
	font-family: "Lucida Console", monospace;;
}

/*!!!!!!*/
/*Liquid page*/
/*!!!!!!*/

#liquidBody {
	width: 50%;
	margin: 0 auto;
}

#liquidMainContent {
	overflow: auto;
}

#liquidContentLeft {
	padding: 5px 7px 5px 7px;
	border: 1px solid;
	border-radius: 4px;
	width: 45%;
	float: left;
	margin: 1%;
}

#liquidContentRight {
	padding: 5px 7px 5px 7px;
	border: 1px solid;
	border-radius: 4px;
	float: left;
	width: 45%;
	margin: 1%;
}


#liquidHeader {
	margin-top: 10px;
	border: 1px solid;
	border-radius: 4px;
	text-align: center;
}
 
#liquidFooter {
 	margin-bottom: 10px;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
}




/* I put grey as the background colour because its clean, and I don't want a flashy colour,
which would be extremely distracting for the user. Light grey is perfect, its not as bright as
pure white, but its not too dark that the text colour has no contrast with the background.
For the text, I chose the font "lucida console", which is part of the font family monospace. It 
is simple and slim, and it looks like the type of text you would see in a video game, or
a game review article. Finally, I added the border to the navigation bar so it would be clear for
the users to see all the pages. I also added a hover effect for all the links, it just adds some 
colour when its selected to make it clear which webpage the user is entering. */

/*This is my css comment*/