#text {
	font-family: "Lucida Console", monospace;
}

#text1 {
	font-family: "Lucida Console", monospace;
	width: 325px;
	line-height: 1.1;
}

.navBar {
	border-style: solid;
	border-radius: 25px;
	padding: 20px;
}

a:hover {
	background-color: dimgrey;
	padding: 5px;
	border-radius: 4px;
}

.body {
	background-color: lightgrey;
	text-align: center;
}

.FAQ_TERM_ul {
  list-style-position: inside;
  text-align: center;
  list-style-type: circle;
}

.outerDiv {
	padding-left: 600px;
	padding-right: 600px;
}

#inlineIMG {
	float: right;
	height: 200px; 
	padding-right: 150px;
}

/*.table1 {
	width: 600px;
	border-style: solid;
	border-radius: 10px;
	padding: 5px 10px;
	margin-left: auto;
  margin-right: auto;
	text-align: center;
}

.th {
	border-style: solid;
	border-radius: 10px
}
*/
table {
		margin-left: auto;
  margin-right: auto;
}
th, td {
	margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
}

/* I put grey as the background colour because its clean, and I don't want a flashy colour,
which would be extremely distracting for the user. Light grey is perfect, its not as bright as
pure white, but its not too dark that the text colour has no contrast with the background.
For the text, I chose the font "lucida console", which is part of the font family monospace. It 
is simple and slim, and it looks like the type of text you would see in a video game, or
a game review article. Finally, I added the border to the navigation bar so it would be clear for
the users to see all the pages. I also added a hover effect for all the links, it just adds some 
colour when its selected to make it clear which webpage the user is entering. */

/*This is my css comment*/